.course {
  position: absolute;
  z-index: 3;
  width: 94rpx;
  box-sizing: border-box;
  border-radius: 10rpx;
  font-size: 24rpx;
  padding: 10rpx;
  color: #fff;
  box-shadow: 2rpx 2rpx #eee;
}

.row-1 {
  height: 112rpx;
}

.row-2 {
  height: 232rpx;
}

.row-3 {
  height: 352rpx;
}

.row-4 {
  height: 472rpx;
}

.row-8 {
  height: 952rpx;
}

.top-1 {
  top: 0rpx;
}

.top-3 {
  top: 240rpx;
}

.top-5 {
  top: 480rpx;
}

.top-7 {
  top: 720rpx;
}

.top-9 {
  top: 960rpx;
}

.left-1 {
  left: 3rpx;
}

.left-2 {
  left: 103rpx;
}

.left-3 {
  left: 203rpx;
}

.left-4 {
  left: 303rpx;
}

.left-5 {
  left: 403rpx;
}

.left-6 {
  left: 503rpx;
}

.left-7 {
  left: 603rpx;
}
