@import '~taro-ui/dist/style/components/activity-indicator.scss';
@import '~taro-ui/dist/style/components/loading.scss';
.date-axis {
  margin-top: 140rpx;
  height: 100rpx;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40rpx;
  padding-right: 20rpx;
}

.date-axis-item {
  border-radius: 10rpx;
  flex: 0 0 100rpx;
  height: 80rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day {
  font-size: 26rpx;
}

.date {
  font-size: 24rpx;
}

.currday {
  background: #ccc;
}

.no-axis {
  font-size: 26rpx;
}

.no-axis-item {
  height: 120rpx;
  line-height: 120rpx;
  padding-left: 10rpx;
  box-sizing: border-box;
  position: relative;
}

.no-axis-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}

.date-body {
  position: absolute;
  top: 240rpx;
  left: 40rpx;
  height: 100%;
  width: calc(100% - 40rpx);
}
